<li class="nav-item dropdown" dropdown>
    <a href="javascript:;" class="nav-link" dropdownToggle>
        {{ currentLanguage.displayName }}
    </a>
    <div class="dropdown-menu dropdown-menu-right p-0" *dropdownMenu>
        @for (language of languages; track language) {
            @if (language.name != currentLanguage.name) {
                <a class="dropdown-item" href="javascript:;" (click)="changeLanguage(language.name)">
                    {{ language.displayName }}
                </a>
            }
        }
    </div>
</li>
