.form-group.required .col-form-label:after {
    color: var(--text-muted);
    content: '*';
    position: absolute;
    margin-left: 3px;
}

/* Sweet alert */
.swal2-title:empty {
    display: none !important;
}

body.swal2-height-auto {
    height: inherit !important;
}

.swal2-popup.swal2-toast {
    padding: 10px 12px !important;
    display: block !important;
}

.swal2-popup.swal2-toast .swal2-header,
.swal2-popup.swal2-toast .swal2-title,
.swal2-popup.swal2-toast .swal2-content {
    text-align: left !important;
    margin: 0 !important;
}

.swal2-popup.swal2-toast .swal2-title {
    margin-bottom: 4px !important;
}

div.wrapper,
div.content-wrapper,
div.sidebar {
    min-height: 100vh;
}

table.table {
    * {
        font-size: 14px !important;
    }

    th,
    td {
        padding: 8px;
        vertical-align: middle;
    }
}

.table-wrapper * {
    font-size: 14px !important;
}
